* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    background-color: #B91650;
    padding-top: 30px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

button {
    color: black;
}

.data-section {
    padding-top: 30px;
    margin-bottom: 50px;
}

.input-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 40px 20px;
}

.my-ticket {
    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.ticket {
    display: flex;
    gap: 80px;
    border-top: 1px solid black;
    padding-top: 15px;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}