* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    background-color: #B91650;
    padding-top: 30px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

button {
    color: black;
}

.data-section {
    padding-top: 30px;
}

.input-section {
    margin-bottom: 40px;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: white;
}